# Ignore virtual environment
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment variables file
.env

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Streamlit secrets file
.streamlit/secrets.toml
